<div class="container text-center card">
   <h1>Title:<%= @event.title %></h1>
        <h3>Host: <%= @event.creator.username.capitalize %></h3>
        <h1>Attendee:</h1>
        <% @attendees.each do |attendee| %>
        <p><%= attendee.username%></p>
        <% end %>
    <hr>
  
    <p><%= link_to 'New event', new_event_path, class: 'btn btn-success' %></p>

    <p><%= link_to 'Home', root_path, class: 'btn btn-warning' %></p>
</div>